

QPushButton {
    background-color: #72f2ce;
    border: 2px solid #4ea67d;
    border-radius: 6px;
    height: 35px;
    font-family: 'FreeSerif';
    font-size: 20px;
    color: #071a40;
}


QLabel{
    font-family: 'FreeSerif';
    font-size: 26px;
    color: #071a40;
}



QLineEdit {
    border: 2px solid #3f2773;
    border-radius: 6px;
    height: 35px;
    font-family: 'FreeSerif';
    font-size: 26px;
    color: #071a40;
}

QComboBox {
    background-color: #AEB6CC;
    font-size: 26px;
    margin-left: 30px;
    font-family: 'FreeSerif';
    margin-bottom: 10px;
    color: #071a40;
}

QRadioButton{
    font-size: 26px;
    font-family: 'FreeSerif';
    margin-bottom: 10px;
    color: #071a40;
}


.forgot_password{
    background-color: none;
    border: none;
    color: #071a40;
}



.create_profile{
    min-width: 300px;
}

.left_widget{
    max-width: 400px;
}

.left_container{
    background-color: #5abfbe;
}

.limpar{
    background-color: #3f2773;
    color: #5abfbe;
}

.settings{
    width: 50px;
    height: 50px;
    background-color: none;
    border: none;
}

.settings:hover{
    background-color: #72f2ce;
}

